body {
 background-color: lightgray;
 font-family: arial;
}

#title{
	background-color: black; 
	border-color: #cccc00; 
	border-radius: 10px; 
	border-style: solid; 
	color: darkkhaki; 
	font-size: 20px; 
	margin: 15px; 
	padding: 10px;
}

#canvasContainer canvas {
  	border: 3px solid #bbb;
  	position: relative;
  	left: 0;
  	float: left;
  	background-color: white;
}

#parameterTable {

}

#parameterTable thead {
	font-family: verdana;
	font-size: 24px;
}

#parameterTable td {
	padding: 5px;
}